#available-homes h2{background-image:url(/images/available-homes/available\ homes.svg);background-repeat:no-repeat;background-position:50%;height:125px;text-indent:-9999px}@media screen and (min-width:41.5rem){#available-homes h2{height:200px}}#property-summary{background-color:#f8fafc}#property-summary h3{line-height:1.3;margin-bottom:1em}#property-summary h3 #introducing{font-size:.6em;opacity:.7}#property-summary h3 #title{font-size:1.25em;opacity:1;margin-top:-.1em;margin-bottom:-.1em;letter-spacing:-1px}#property-summary h3 #tagline{font-size:.65em;opacity:.7}#property-summary h3 address{display:block;margin-top:.5em;font-size:.45em;font-style:normal;opacity:.5}#property-summary p{max-width:45em;margin:1.625em auto}#property-summary #available-time{font-size:1em;font-weight:700;opacity:1;color:#fbb03b}#property-render{margin:0;padding:0!important}#property-render img{display:block;width:100%}#details ul{margin:3.25em 0;padding:0 1.21875em;text-align:left;-webkit-column-count:1;-moz-column-count:1;column-count:1;-webkit-column-gap:5em;-moz-column-gap:5em;column-gap:5em}@media screen and (min-width:61.5rem){#details ul{-webkit-column-count:2;-moz-column-count:2;column-count:2}}#gallery ul{display:flex;flex-wrap:wrap;list-style:none;margin:3.25em 0;padding:0}#gallery li{box-sizing:border-box;padding:.65em;flex:1;flex-basis:100%}@media screen and (min-width:61.5rem){#gallery li{flex-basis:33.3%}}#gallery a figure{position:relative;margin:0;text-align:left;overflow:hidden}#gallery a figure img{display:block;transition:all 3s}#gallery a figure p{margin:0}#gallery a:hover figure{box-shadow:0 0 30px rgba(0,0,0,.4)}#gallery a:hover figure img{transform:scale(1.05)}.lb-overlay{width:0;height:0;position:fixed;overflow:hidden;left:0;top:0;padding:0;z-index:99;text-align:center;background:rgba(55,58,71,.9)}.lb-overlay a{background:rgba(25,28,41,.6);color:#eee;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";box-shadow:0 1px 2px rgba(0,0,0,.3);border-radius:50%;opacity:0;transition:opacity .3s linear 1.2s;transform:translateX(-50%);cursor:pointer;z-index:1001}.lb-overlay a:hover{background:#191c29;color:#fff}.lb-overlay a.lb-close{position:absolute;top:30px;left:50%;height:24px;width:24px;font-size:16px;line-height:24px;text-align:center;padding:.4em;overflow:hidden}.lb-overlay img{max-height:100%;position:relative;box-shadow:0 2px 7px rgba(0,0,0,.2)}.lb-overlay .prev{left:7%}.lb-overlay .next,.lb-overlay .prev{position:absolute;top:45%;font-size:12px;line-height:24px;text-align:center;padding:.5em 1em;height:23px;overflow:hidden}.lb-overlay .next{right:7%;transform:translateX(50%)}.lb-overlay:target{width:auto;height:auto;bottom:0;right:0;padding:80px 10% 120px;display:flex;justify-content:center;align-items:center}.lb-overlay:target img{-webkit-animation:fadeInScale 1.2s ease-in-out;animation:fadeInScale 1.2s ease-in-out}.lb-overlay:target a.lb-close,.lb-overlay:target a.next,.lb-overlay:target a.prev{opacity:1;filter:alpha(opacity=99);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"}@-webkit-keyframes fadeInScale{0%{transform:scale(.6);opacity:0}to{transform:scale(1);opacity:1}}@keyframes fadeInScale{0%{transform:scale(.6);opacity:0}to{transform:scale(1);opacity:1}}.lb-overlay img,x:-o-prefocus{height:100%}

#property-summary #available-time {
    margin-top: .5em;
}

#sold-badge {
    background: red;
    border: 2px solid white;
    display: inline-block;
    font-size: 1.125em;
    font-weight: bold;
    padding: 0em .3em;
    border-radius: .3em;
    box-shadow: 0 0 .3em 0 rgb(0 0 0 / 20%);
    color: white;
    transform: rotate(-10deg);
}

.confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}
.confetti-piece {
    position: absolute;
    width: 10px;
    height: 30px;
    background: #ffd300;
    top: 0;
    opacity: 0;
}
.confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(-40deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 182ms;
    animation-duration: 1116ms;
}
.confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(4deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 161ms;
    animation-duration: 1076ms;
}
.confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(-51deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 481ms;
    animation-duration: 1103ms;
}
.confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(61deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 334ms;
    animation-duration: 708ms;
}
.confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(-52deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 302ms;
    animation-duration: 776ms;
}
.confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(38deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 180ms;
    animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(11deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 395ms;
    animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(49deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 14ms;
    animation-duration: 887ms;
}
.confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(-72deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 149ms;
    animation-duration: 805ms;
}
.confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(10deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 351ms;
    animation-duration: 1059ms;
}
.confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(4deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 307ms;
    animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(42deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 464ms;
    animation-duration: 776ms;
}
.confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-72deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 429ms;
    animation-duration: 818ms;
}
.confetti-piece:nth-child(odd) {
    background: #7431e8;
}
.confetti-piece:nth-child(even) {
    z-index: 1;
}
.confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: 2500ms;
    animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: red;
}
@keyframes makeItRain {
    from {opacity: 0;}
    50% {opacity: 1;}
    to {transform: translateY(450px);}
}

/*# sourceMappingURL=available-homes.css.map */
