@{
    ViewBag.Title = "Available Homes";
	ViewBag.Description = "Available Homes";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/available-homes.css">
}

@section Scripts {

	<script>

		$(function () {

			$(".prev").on("click", prevClick);

			$(".next").on("click", nextClick);

		});

		function prevClick() {

			var target = event.currentTarget;

			var li = target.parentElement.parentElement;

			var prev = li.previousElementSibling;
			var last = li.parentElement.lastElementChild;

			if (prev) {

				window.location.href = prev.querySelector("a").href;

			}
			else {

				window.location.href = last.querySelector("a").href;

			}
		}

		function nextClick() {

			var target = event.currentTarget;

			var li = target.parentElement.parentElement;

			var next = li.nextElementSibling;
			var first = li.parentElement.firstElementChild;

			if (next) {

				window.location.href = next.querySelector("a").href;

			}
			else {

				window.location.href = first.querySelector("a").href;

			}

		}		

	</script>
}

<section id="available-homes">

	<header>

		<h2>@ViewBag.Title</h2>

	</header>

</section>

@* <div class="confetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
</div> *@

<section id="property-summary">

	<header>
	
		<h3>
			<div id="introducing">Introducing</div>
			<div id="title">The Provident</div>
			<div id="tagline">The Best of Village Living</div>
			<address>240 Tower Road, Barrington, IL</address>
		</h3>

	</header>

	<p>
		This new construction home exemplifies a passion for creating artisan homes. This village-chic home features on-trend design, incorporating high-end fixtures and finishes for today's family lifestyles.
	</p>

	@* <div id="sold-badge">SOLD!!</div> *@

	<p id="available-time">
		Please contact us to discuss building your dream home
	</p>

</section>


<section id="property-render">

	<img src="~/images/available-homes/240 Tower Rendering.jpg" loading="lazy"/>

</section>


<section id="gallery">

	<div class="container">

		<header>

			<h2>Gallery</h2>

		</header>

		<ul>

			<li id="gallery-image-1">

				<a href="#image-1">

					<figure>
						<img src="~/images/available-homes/240 Kitchen Inspo.png" alt="Kitchen" loading="lazy"/>
					</figure>

				</a>

				<div class="lb-overlay" id="image-1">

					<a class="prev">&lt;&lt;</a>
					<a class="next">&gt;&gt;</a>
					<a href="#gallery-image-1" class="lb-close">&times;</a>
					<img src="~/images/available-homes/240 Kitchen Inspo.png" alt="Kitchen" loading="lazy"/>

				</div>

			</li>

			<li id="gallery-image-2">

				<a href="#image-2">

					<figure>
						<img src="~/images/available-homes/240 Bath Inspo.png" alt="Master Bedroom" loading="lazy"/>
					</figure>

				</a>

				<div class="lb-overlay" id="image-2">

					<a class="prev">&lt;&lt;</a>
					<a class="next">&gt;&gt;</a>
					<a href="#gallery-image-2" class="lb-close">&times;</a>
					<img src="~/images/available-homes/240 Bath Inspo.png" alt="Master Bedroom" loading="lazy"/>

				</div>

			</li>

			@* <li id="gallery-image-3">

				<a href="#image-3">

					<figure>
						<img src="~/images/available-homes/214 Tower Mudroom Board.jpg" alt="Mudroom" loading="lazy"/>
					</figure>

				</a>

				<div class="lb-overlay" id="image-3">

					<a href="#gallery-image-3" class="lb-close">&times;</a>
					<img src="~/images/available-homes/214 Tower Mudroom Board.jpg" alt="Mudroom" loading="lazy"/>
					<a class="prev">&lt;&lt;</a>
					<a class="next">&gt;&gt;</a>

				</div>

			</li> *@

		</ul>

		<p>
			<a class="button" href="/#contact">Contact Us To See More</a>
		</p>

	</div>

</section>

<section id="details">

	<div class="container">

		<header>

			<h2>
				Features
				<div id="specs">4-5 BEDROOMS | 5 BATHROOMS | 4600 SQUARE FEET</div>
			</h2>

		</header>

		<ul>

			<li> Presenting The Provident. Avalon's latest showpiece in the Village of Barrington </li>
			<li> Thoughtful design paired with impeccable build quality and rarely-seen features and style elements </li>
			<li> First impressions are second-to-none upon entering your home through the dramatic solid wood and glass front entry </li>
			<li> Highlighted by truly custom cabinetry, a 48" workstation sink, and a separate scullery, the kitchen is a gourmet chef's dream </li>
			<li> Entertaining flows within the heart-of-home open floor plan and invites you outside through 6' wide patio doors to your outdoor kitchen, dining patio, and firepit area </li>
			<li> The primary suite includes a serene spa bath with a zero-entry shower, and heated floors </li>
			<li> A morning bar, and a massive walk-in closet add to the opulence of the primary suite </li>
			<li> The double Jack-and-Jill bathroom features two separate vanities and toilet areas for privacy </li>
			<li> A heated three-car garage offers respite from inclement weather </li>
			<li> The finished basement can be adapted to your lifestyle, offering an additional bedroom, a fitness room, and a family space </li>
			<li> Available Summer/Fall 2025 </li>

		</ul>

		<p>
			<a class="button" href="/#contact">Contact Us For More Details</a>
		</p>

	</div>

</section>