@{
    ViewBag.Title = "Galleries";
	ViewBag.Description = "Galleries";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/galleries.css">
}

<section id="galleries">

	<div class="container">

		<header>

			<h2>Galleries</h2>

		</header>

		<ul>

			<li>

				<a href="/gallery/interiors">

					<figure>
						<img src="~/images/galleries/interiors.jpg" alt="Custom Homes">
						<figcaption>
							<h3>Interiors</h3>
						</figcaption>
					</figure>

				</a>

			</li>

			<li>

				<a href="/gallery/exteriors">

					<figure>
						<img src="~/images/galleries/exteriors.jpg" alt="Custom Homes">
						<figcaption>
							<h3>Exteriors</h3>
						</figcaption>
					</figure>

				</a>

			</li>

			<li>

				<a href="/gallery/details">

					<figure>
						<img src="~/images/galleries/details.jpg" alt="Custom Homes">
						<figcaption>
							<h3>Details</h3>
						</figcaption>
					</figure>

				</a>

			</li>

			<li>

				<a href="/gallery/before-and-after">

					<figure>
						<img src="~/images/galleries/before-and-after.jpg" alt="Custom Homes">
						<figcaption>
							<h3>Before And After</h3>
						</figcaption>
					</figure>

				</a>

			</li>
		</ul>

	</div>

</section>