@model avalonbuild.com.ViewModels.Gallery

@{
    ViewBag.Title = Model.Title;
	ViewBag.Description = Model.Description;
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/gallery.css">
}

@section Scripts {

	<script>

		$(function () {

			//
			// Make saving images a little more difficult
			//

			$("body").on("contextmenu", "img", function(e) {
				return false;
			});
		});

	</script>
}

<section id="gallery">

	<div class="container">

		<header>

			<h2>@Model.Title</h2>

		</header>

		@if (Model.Images.Count > 0)
		{
			<ul id="#top">

				@foreach (var image in Model.Images)
				{
					<li id="gallery-@image.Name">

						<a href="#@image.Name">

							<figure>
								<img src="/file/@image.ThumbnailFileName" alt="@image.Title">
							</figure>

						</a>

						<div class="lb-overlay" id="@image.Name">
							<a href="#gallery-@image.Name" class="lb-close">&times; CLOSE</a>
							<img src="/file/@image.FileName" alt="@image.Title" />

						</div>

					</li>

				}
			</ul>

		}
		else
		{
			<div>No Images</div>
		}

	</div>

</section>