@model avalonbuild.com.Models.Contact

@{
    ViewBag.Title = "";
    ViewBag.Description = "Website Design";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/index.css")">
}

@section Scripts {
    <script src="~/js/pages/index.js"></script>
}

@section Header {

	<a class="logo" href="/"></a>

    <p>
		Welcome and Thank You for visiting Avalon. Please take a look around and see why we are the leader in our industry. Whether it be a lavishly designed and exquisitely constructed home, a custom kitchen remodel, or a handcrafted heirloom furniture piece, we will exceed all your expectations! Please browse all of our services and contact us to schedule a no-pressure, informal meeting to discuss your project. We look forward to hearing from you!
	</p>

	<a id="scroller" href="#section04"><span></span></a>

}

<section id="about">

	<div class="container">

		<div class="grid">

			<div id="about-text">

				<header>

					<h2>Design, Construct, Renew</h2>

				</header>

				<p>
					At Avalon our mission is this: To exceed our clients' expectations by means of selecting the highest quality products and materials, enlisting the finest craftsmen, evolving client relations, and incorporating our expertise in design and construction, all while constantly striving for the next echelon, ultimately delivering unparalleled products and services for each client's investment.
				</p>

				<p>
					From designing to constructing, we work with our clients and listen to all their aspirations for their projects while respecting fiscal matters, creating exquisite homes and contributing to various other projects that we take great pride in. Besides custom home building, our other services exemplify our mission to always exceed expectations and contribute positively to any scope of work.
				</p>

			</div>

		</div>

	</div>

</section>

<section id="services">

	<div class="container">

		<header>

			<h2>Our Services</h2>

		</header>

		<ul>

			<li>

				<figure class="bio">
					<img src="~/images/services/custom-homes.jpg" alt="Custom Homes">
					<figcaption>
						<h3>Custom Homes</h3>
						<p>We'll help you build the home of your dreams.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure class="bio">
					<img src="~/images/services/remodeling.jpg" alt="Remodeling">
					<figcaption>
						<h3>Remodeling</h3>
						<p>We'll help you build the home of your dreams.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure class="bio">
					<img src="~/images/services/design.jpg" alt="Design Services">
					<figcaption>
						<h3>Design Services</h3>
						<p>We'll help you build the home of your dreams.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure class="bio">
					<img src="~/images/services/consulting.jpg" alt="Consulting and Project Management">
					<figcaption>
						<h3>Consulting and Project Management</h3>
						<p>We'll help you build the home of your dreams.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure class="bio">
					<img src="~/images/services/architecture.jpg" alt="Architecture">
					<figcaption>
						<h3>Architecture</h3>
						<p>We'll help you build the home of your dreams.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure class="bio">
					<img src="~/images/services/cabinetry.jpg" alt="Bespoke Cabinetry/etc">
					<figcaption>
						<h3>Bespoke Cabinetry/etc</h3>
						<p>We'll help you build the home of your dreams.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure class="bio">
					<img src="~/images/services/outdoor.jpg" alt="Landscaping/Outdoor Living">
					<figcaption>
						<h3>Landscaping/Outdoor Living</h3>
						<p>We'll help you build the home of your dreams.</p>
					</figcaption>
				</figure>

			</li>

		</ul>

		<p>
			<a class="button" href="/services">See Our Services</a>
		</p>

	</div>

</section>

<section id="gallery">

	<p>
		<a class="button" href="/galleries">See Our Gallery</a>
	</p>

</section>

<section id="referrals">

	<div class="container">

		<header>

			<h2>What Our Customers Say</h2>

		</header>

		<ul>

			<li>

				<blockquote>
					<p>As the Committee Chairman of Cutters Run Subdivision in South Barrington I contracted with Avalon.
					John and his company did exceptional work. All the work was done neatly, professionally, and at
					a reasonable price. John Elias is prompt, friendly, easy to work with, and thoroughly competent. I
					recommend him and his company for any level of construction work, whether commercial or residential.</p>
					<cite>Ken D. (South Barrington, IL)</cite>
				</blockquote>

			</li>

			<li>

				<blockquote>
					<p>The entire time we have lived here, I still am amazed and awed by the quality of craftsmanship put into the house. Everyday I still see beauty in the house that previously escaped me. After we moved in, John and his team have worked tirelessly standing behind every detail that needed attention. We have never seen a home built as well and as extraordinary as my house.</p>
					<cite>Mark S. (Ridgefield of Huntley) </cite>
				</blockquote>

			</li>



		</ul>

		<p>
			<a class="button" href="/referrals">See What Our Customers Say</a>
		</p>

	</div>

</section>

<section id="team">

	<div class="container">

		<header>

			<h2>Our Team</h2>

		</header>

		<p>
			Our team have been South Barrington residents for over 25 years and are well respected in the community, through business reputation and community involvement.  We'll be happy to use our expertise to help you get the home of your dreams.
		</p>

		<ul>

			<li>

				<figure class="bio">
					<img src="~/images/bio/john.png" alt="John Elias (Owner and President)">
					<figcaption>
						John Elias<br/>
						<small>Owner and President</small>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure class="bio">
					<img src="~/images/bio/tara.png" alt="Tara Gordon (Office Manager)">
					<figcaption>
						Tara Gordon<br/>
						<small>Office Manager</small>
					</figcaption>
				</figure>

			</li>

		</ul>

	</div>

</section>

<section id="contact">

	<div class="container">

		<header>

			<h2>Contact Us</h2>
			<p>Contact us to request a quote, or to find out more about the services we provide. We'd love to hear from you!  Feel free to check us out on <a href="https://twitter.com/avalonbuild">Twitter</a> or <a href="https://www.facebook.com/AvalonDesignBuild/">Facebook</a> if you would like to say hi.</p>

		</header>

        <form asp-antiforgery="true">

            <div id="contact-notification" class="alert"></div>

            <label asp-for="Name"></label>
            <input asp-for="Name" type="text"/>

            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" />

            <label asp-for="Message"></label>
            <textarea asp-for="Message" cols="55" rows="10"></textarea>

            <p>
                <button id="contact-submit">Send Message</button>
            </p>

        </form>

	</div>

</section>