@model avalonbuild.com.Models.Contact

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/index.css")">
}

@section Scripts {
    <script src="~/js/pages/index.js"></script>
}

@section Header {

	<a class="logo" href="/"></a>

    <!--<p>
		Welcome and Thank You for visiting Avalon. Please take a look around and see why we are the leader in our industry. Whether it be a lavishly designed and exquisitely constructed home, a custom kitchen remodel, or a handcrafted heirloom furniture piece, we will exceed all your expectations! Please browse all of our services and contact us to schedule a no-pressure, informal meeting to discuss your project. We look forward to hearing from you!
	</p>-->

	<a id="scroller"><span></span></a>

}
<!--
<section id="featured">

	<div class="container">

		<a href="http://www.houzz.com/user/johnelias">
			<strong>Featured on</strong> <img src="/images/social/houzz_logo.svg"/>
		</a>

		<a href="http://www.houzz.com/user/johnelias">
			<img src="/images/badges/houzz-best-of-2016-service.jpg"/>
		</a>

	</div>

</section>
-->
<section id="testimonials">

	<div class="container">

		<a href="http://www.houzz.com/user/johnelias">
			<img src="/images/badges/badge_49_8@2x.png"/>
			<!--<img src="https://st.hzcdn.com/static/badge_49_8@2x.png" alt="John Elias in Barrington, IL on Houzz"/>-->
		</a>

		<a href="http://www.houzz.com/user/johnelias">
			<img src="/images/badges/badge_22_8@2x.png"/>
			<!--<img src="https://st.hzcdn.com/static/badge_22_8@2x.png" alt="John Elias in Barrington, IL on Houzz"/>-->
		</a>

		<a href="http://www.houzz.com/user/johnelias">
			<img src="/images/badges/badge_32_9@2x.png"/>
			<!--<img src="https://st.hzcdn.com/static/badge_32_9@2x.png" alt="John Elias in Barrington, IL on Houzz"/>-->
		</a>

		<a href="http://www.houzz.com/user/johnelias">
			<img src="/images/badges/badge_20_9@2x.png"/>
			<!--<img src="https://st.hzcdn.com/static/badge_20_9@2x.png" alt="John Elias in Barrington, IL on Houzz"/>-->
		</a>

		<ul>

			<li>
				"It says volumes when you can say you are friends with your builder after the project."
			</li>

			<li>
				"The end result is everything we had hoped for and would use Avalon for future projects."
			</li>

			<li>
				"We were confident Avalon could get us into our new home without ridiculous extras or other surprises and we were never dissapointed."
			</li>

			<li>
				"Attention to detail is amazing and quality of craftsmanship is unprecedented."
			</li>

			<li>
				"Avalon exceeded our expectations and raised our idea of quality standards."
			</li>

			<li>
				"Avalon has gone the extra mile to accomodate all my requests which no other local builder was willing to accomodate."
			</li>

		</ul>

	</div>

</section>

<!--
	<section id="about">

	<div class="container">

		<div class="grid">

			<div id="about-text">

				<header>

					<h2>Design, Construct, Renew</h2>

				</header>

				<p>
					At Avalon our mission is this: To exceed our clients' expectations by means of selecting the highest quality products and materials, enlisting the finest craftsmen, evolving client relations, and incorporating our expertise in design and construction, all while constantly striving for the next echelon, ultimately delivering unparalleled products and services for each client's investment.
				</p>

				<p>
					From designing to constructing, we work with our clients and listen to all their aspirations for their projects while respecting fiscal matters, creating exquisite homes and contributing to various other projects that we take great pride in. Besides custom home building, our other services exemplify our mission to always exceed expectations and contribute positively to any scope of work.
				</p>

			</div>

		</div>

	</div>

</section>
-->

<section id="services">

	<div class="container">

		<header>

			<h2>
				<span>From&nbsp;Concept to Completion and&nbsp;Beyond</span>
				Design&nbsp;and Construction at the&nbsp;Highest&nbsp;Level
			</h2>
			
		</header>

		<ul>

			<li>

				<figure>
					<img src="~/images/services/custom-homes.jpg" alt="Custom Homes" loading="lazy">
					<figcaption>
						<h3>Artisan Built Custom Homes</h3>
						<p>From the ground up, no compromises, this is our specialty. Your project is in our very conscientious hands.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="~/images/services/remodeling.jpg" alt="Remodeling" loading="lazy">
					<figcaption>
						<h3>Remodeling and Renewals</h3>
						<p>Kitchens, bathrooms, finished basements, additions … we want you to love your home.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="~/images/services/architecture.png" alt="Architecture" loading="lazy">
					<figcaption>
						<h3>Architecture and Design</h3>
						<p>We match your lifestyle and aspirations to one of our architects and bring your ideas and desires to life, while contributing our expertise. From interiors to exteriors, from sketches to custom cabinets, bespoke furniture, fixtures and finishes… let us create spaces for you.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="~/images/services/commercial.jpg" alt="Commercial" loading="lazy">
					<figcaption>
						<h3>Commercial Construction and Project Management</h3>
						<p>Restaurants, retail, and multi-family, project management that delivers on budget and on time.</p>
					</figcaption>
				</figure>

			</li>

		</ul>

	</div>

</section>

<section id="gallery">

	<p>
		<a class="button" href="/galleries">See Our Galleries</a>
	</p>

</section>
<!--
<section id="properties">

	<div class="container">

		<header>

			<h2>Available Properties</h2>

		</header>

		<p>Properties go here ... TBD</p>

		<p>
			<a class="button" href="/properties">See the Available Properties</a>
		</p>

	</div>

</section>
-->
<section id="referrals">

	<div class="container">

		<header>

			<h2>What Our Clients Say</h2>

		</header>

		<ul>

			@* <li>

				<blockquote>
					<p>As the Committee Chairman of Cutters Run Subdivision in South Barrington I contracted with Avalon.
					John and his company did exceptional work. All the work was done neatly, professionally, and at
					a reasonable price. John Elias is prompt, friendly, easy to work with, and thoroughly competent. I
					recommend him and his company for any level of construction work, whether commercial or residential.</p>
					<cite>Ken D. (South Barrington, IL)</cite>
				</blockquote>

			</li> *@

			<li>

				<blockquote>
					<p>
						We hired John and Avalon Builders to build our dream home in 2015. This was our 1st custom project
						and we didn&#39;t anticipate the number of decisions that needed to be made along the way. John was always
						professional and helped guide us throughout the project with the voice of a friend. He worked tirelessly to
						ensure that every detail was what we wanted or better than expected, coordinating everything personally.
						We&#39;ve heard horror stories from friends about projects going over budget and I am happy to say that
						John&#39;s estimates were always on target. We are now living in our dream home and loving it - we couldn&#39;t
						recommend John &amp; Avalon Builders more highly, simply the very best!
					</p>
					<cite>Trina G. (Barrington Hills, IL)</cite>
				</blockquote>

			</li>

			<li>

				<blockquote>
					<p>The entire time we have lived here, I still am amazed and awed by the quality of craftsmanship put into the house. Everyday I still see beauty in the house that previously escaped me. After we moved in, John and his team have worked tirelessly standing behind every detail that needed attention. We have never seen a home built as well and as extraordinary as my house.</p>
					<cite>Mark S. (Ridgefield of Huntley) </cite>
				</blockquote>

			</li>

		</ul>

		<p>
			<a class="button" href="/referrals">See More of What Our Clients Say</a>
		</p>

	</div>

</section>

<section id="contact">

	<div class="container">

		<div class="grid">

			<header>

				<h2>Contact Us</h2>
				<p>
					Contact us to request a quote, or to find out more about the services we provide. We'd love to hear from you!
					Feel free to check us out on <a href="https://twitter.com/avalonbuild">Twitter</a>, <a href="https://www.facebook.com/AvalonDesignBuild">Facebook</a>, or <a href="https://www.instagram.com/avalonconstructiondesign">Instagram</a> if you would like to say hi.
				</p>

			</header>

			<form asp-antiforgery="true">

				<div id="contact-notification" class="alert"></div>

				<label asp-for="Name"></label>
				<input asp-for="Name" type="text"/>

				<label asp-for="Email"></label>
				<input asp-for="Email" type="email" />

				<label asp-for="Phone"></label>
				<input asp-for="Phone" type="tel" />

				<label asp-for="Message"></label>
				<textarea asp-for="Message" cols="55" rows="10"></textarea>

				<p>
					<button id="contact-submit">Send Message</button>
				</p>

			</form>

		</div>

	</div>

</section>