@{
    ViewBag.Title = "What Our Clients Say";
	ViewBag.Description = "What Our Clients Say";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/referrals.css">
}

<section id="referrals">

	<div class="container">

		<header>

			<h2>@ViewBag.Title</h2>

		</header>

		<ul>


			<li>
				<blockquote>
					<p>
						I could write a book on our family relocation and how we came to having a house from Avalon
						Construction and Design, but for most that may not have the luxury of time to read an extensive review
						here is the gist of it and the most important portion of my review. Not only is John Elias a phenomenal
						builder, but he is an outstanding human being. This is a type of man other strive to be, but very few will
						ever become. He has an eye for creativity and has a ton of experience building top notch quality homes.
						When he doesn’t know something he takes the time to research it and becomes knowledgeable. I made
						two copies of the key John gave me when we closed on the home. My wife has one, I have one, and
						John Elias has one. Yes, my builder has a copy of the key to my house. It’s because one day someone is
						going to ask him “John, could you show me a home you recently built.” I would prefer John to go through
						the front door instead of the garage when we are not home. So that the potential client quickly
						understands the level of trust we, the home owners, have in him. The next time you go visit a potential
						builder pay close attention to the doorway you enter the home and how the home owners react. You will
						be surprised how often everything you need to know can be found when answering these two very simple
						questions. In summary Avalon Construction and Design is the only home builder you need to meet. They
						are going to provide you with the absolute best value for your home in the state of Illinois, possibly in the
						entire United States of America.
					</p>
					<cite>Melanie B. (Barrington IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>
						John and his team are a pleasure to work with. Their attention to detail and quality is the true difference
						maker for them. They work with the highest quality materials and are always finding new products and
						solutions to stay current and offer the best product to their customers and buyers.
					</p>
					<cite>Lee C. -Standard Lumber</cite>
				</blockquote>
			</li>
			
			<li>
				<blockquote>
					<p>
						Avalon came to us at the perfect timing, amazed by their expertise and logistics of our project. We will be
						using them for all our custom home projects!!!
					</p>
					<cite>Gini S. (Elgin, IL)</cite>
				</blockquote>
			</li>
			
			<li>
				<blockquote>
					<p>
						John is simply amazing!!! John delivered an amazing product and was instrumental on adding design
						advice when and where we needed it. His employees exuded professionalism. Everyone treated our
						home as if it was theirs.
					</p>
					<p>
						Yes he has the key to our home and yes we trust him implicitly. THANK YOU JOHN!
					</p>
					<cite>Rocco A. (Inverness, IL)</cite>
				</blockquote>
			</li>
			
			<li>
				<blockquote>
					<p>
						John&#39;s work is exceptional because it does not need any monitoring and he gets done in a way that
						exceeded our expectation. He provides many options and detailed estimates. His team is very prompt.
						Thank you, John, for all the work. We will continue to use him for other projects in our home. We got our
						roof done and it we received great feedback from friends and family.
					</p>
					<p>
						We highly recommend him.
					</p>
					<cite>Shailu and Sireesha T. (South Barrington. IL)</cite>
				</blockquote>
			</li>
			
			<li>
				<blockquote>
					<p>
						We hired Avalon twice for our remodel/addition project.
					</p>
					<p>
						The first hire was for design services. Avalon brought a knowledgeable team to review the ideas and
						dreams we envisioned for our project. Of all service providers invited, Avalon was the only group who was
						able to look and listen to these ideas and then present something completely new to us, making better
						use of our existing space and land. Ultimately, this brainstorming session resulted in our hiring Avalon to
						design these changes on paper as well as submit a proposal for building.
					</p>
					<p>
						The second hire was to effect the designs created above. Our decision to move forward with the building
						phase of our project with Avalon was based on the previous experience they brought to our table,
						outstanding references for inter and post project support, and budgeting. We believed that the value
						Avalon brought to our table was the best fit for completing our project.
					</p>
					<p>
						Throughout our process, we were able to make educated and informed decisions based on the reality of
						our budget and scope of work... surprises were uncovered during our demolition and handle with ease the
						barrage of changes/ideas we tossed at Avalon throughout the construction process. Avalon consistently
						went out of their way and above and beyond the call of duty to creatively help us make these changes a
						reality. For those seeking dreams in a realistic world, you should seek an opinion from these folks!
					</p>
					<cite>Dave G. (Barrington Hills, IL)</cite>
				</blockquote>
			</li>
			
			<li>
				<blockquote>
					<p>
						We hired John and Avalon Builders to build our dream home in 2015. This was our 1st custom project
						and we didn&#39;t anticipate the number of decisions that needed to be made along the way. John was always
						professional and helped guide us throughout the project with the voice of a friend. He worked tirelessly to
						ensure that every detail was what we wanted or better than expected, coordinating everything personally.
						We&#39;ve heard horror stories from friends about projects going over budget and I am happy to say that
						John&#39;s estimates were always on target. We are now living in our dream home and loving it - we couldn&#39;t
						recommend John &amp; Avalon Builders more highly, simply the very best!
					</p>
					<cite>Trina G. (Barrington Hills, IL)</cite>
				</blockquote>
			</li>
					
			<li>
				<blockquote>
					<p>
						Avalon has completed several jobs for our home in South Barrington from installing and helping us find a
						custom glass and wrought iron front door, to helping us facilitate a complete remodel for our powder
						room. If anything wasn’t just right, John made sure to see that the company we purchased an item from
						gave us the correct item ASAP. Avalon has connections for every need such as plumbing, electrical,
						painting, you name it.
					</p>
					<p>
						I would highly recommend Avalon as a construction company that provides reliable, quality service in a
						timely fashion.
					</p>
					<cite>Deanna S. (South Barrington, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>Avalon has very impressive craftsmanship with a keen eye for quality and detail.</p>
					<p>I would hire them in the future if given the chance again.</p>
					<cite>Artisan Stone &amp; Mosaic</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>John Elias and his team at Avalon went above and beyond to make our home more then we could have ever dreamed of! Throughout the project they were professional and always made my family feel like propriety #1! We did a complete renovation of our home and an addition. The project took a little over a year which was on target. It's wonderful to know that I hired such a wonderful and talented group of artisans, b/c that is truly what Avalon and all of the sub contractors turned out to be.</p>
					<cite>Tara G. (Barrington Hills, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>We have built two homes and the experience with you and your team doesn't even compare to those projects. You set yourself apart from other builders with your design knowledge. It was a pleasure to work with you throughout the entire building process. You always took the extra time to help us figure out any situation we came across. Your follow up and communication skills were excellent. We are extremely happy with the finished product! A lot of hard work and thought went into this project. We thank you for your partnership and now friendship. It says volumes when you can say you are friends with your builder after the project is finished!</p>
					<cite>Anthony &amp; Angie A. (South Barrington, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>In our selection process our decision was based on quality of work, dependability, price and meeting the timeline established.  We chose Avalon over other reputable contractors and are happy to say we made the right choice.  John's responsiveness far exceeded our expectations and he made himself available whenever requested.  He demonstrated professionalism with not only us, but all sub-contractors - with whom he also has a very positive relationship.  John was very organized and managed the project aggressively to make sure that deadlines were met.  He served as an excellent source for design recommendations and his product selections that were right on target with our tastes and cost conscience.  His attention to detail was impressive and he ensured that each phase of the project was completed to our satisfaction.  We completely trusted John's professional opinions and his integrity was never in question.  The end result is everything we had hoped for and would use Avalon for future projects!</p>
					<cite>Mike and Lou Ann G. (South Barrington, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>My wife and I wanted a unique, high quality, custom home but we didn't want to overpay, or waste money. We researched and interviewed a number of builders before we finally chose Avalon.  Avalon's pricing was good or better than the others but the allowances and specifications they provided were what convinced us. We were confident Avalon could get us into our new home without ridiculous extras or other surprises and were never disappointed.</p>
					<p>With Avalon's help and creative suggestions we made intelligent and timely decisions on the exterior design and interior finishes. We expected the quality of the cabinetry, millwork, floors and other construction details to be of superior quality but many times the results were better than we expected.</p>
					<p>This is the last house we will ever build, but I would not hesitate to recommend Avalon to a friend.</p>
					<cite>Richard P. (Barrington Hills, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>The entire time we have lived here, I still am amazed and awed by the quality of craftsmanship put into the house. Everyday I still see beauty in the house that previously escaped me. After we moved in, John and his team have worked tirelessly standing behind every detail that needed attention. We have never seen a home built as well and as extraordinary as my house.</p>
					<p>John Elias is rare person in this world of homes. He has never let me down on anything that I need help with in the house that we live. His attention to detail is amazing and quality of craftsmanship unprecedented. I have worked with many builders in the past and built several different buildings, but I have never met a person or his team that lives up to expectations like John does. He is a true artist, honorable person. I am proud to know him and live in a home that he built. Our house is absolutely amazing.</p>
					<cite>Mark S. (Ridgefield of Huntley) </cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>We have been working with John Elias for about 10 years.  Every project that John has done for us has been done impeccably.  He takes whatever time is needed to get the job done right.  If there ever is a problem John makes sure that it gets corrected immediately.  We would highly recommend John Elias and Avalon Development and Construction.</p>
					<cite>Jim L. (South Barrington, IL) </cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>
						My husband and I have been working with John for about 10 years. Initially, we were introduced to his
						craftsmanship when we visited one of his homes he built. We were amazed by the quality of construction
						and unique attention to detail. Since then, he has designed and built several unique pieces of furniture in
						our house, including a 12 x12 ft armoire/wall unit with incredible hand-carved curved dark wood columns,
						round bun feet and lattice carved sliding doors to house the flatscreen TV. Our fireplace screen, another
						piece of Avalon’s work of art, has decorative small gold fleur-de-li’s throughout the screen with an
						incredible iron arched frame, a definite eye catcher. Recently, John and his dependable team,
						reconstructed our front door vestibule. The entire front entrance was rebuilt, resulting into an extremely
						difficult and intricate project. John is always reliable, dependable and performs high quality work. His
						crew, is not only punctual and skillful, but always respectful and tidy too.
						Avalon delivers superior craftsmanship with extreme attention to detail. John is always available and
						responsive to any questions/ concerns. He is friendly and easy to communicate with. We highly
						recommend John and his company Avalon without any reservations for any new and remodeling projects.
					</p>
					<cite>-Michele P. (Barrington Hills, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>I spent so much time looking for a dining room table and could not find exactly what I wanted.  I was referred to Avalon and was so impressed with their ability to create my vision.  John and his team are very creative and presented several different ideas for my table and buffet, adding unique personal touches.  I could not be happier with my table and love that nobody else will ever have the same one!  The quality and craftsmanship are amazing especially for the reasonable price.  Now I am trying to come up with more projects for John to create!</p>
					<cite>Tiffany K.   (Hinsdale, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>The work was done with perfection! Thanks for taking such good care of our project!</p>
					<cite>Louis C.<br>
					Hidden Lakes Homeowners Association<br>
					(South Barrington, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>As the Committee Chairman of Cutters Run Subdivision in South Barrington I contracted with Avalon.
		John and his company did exceptional work. All the work was done neatly, professionally, and at
		a reasonable price. John Elias is prompt, friendly, easy to work with, and thoroughly competent. I
		recommend him and his company for any level of construction work, whether commercial or residential.</p>
					<cite>Ken D.<br>
					Cutters Run Homeowners Association<br>
					(South Barrington, IL)</cite>
				</blockquote>

			</li>

		</ul>

	</div>

</section>