@{
    ViewBag.Title = "What Our Clients Say";
	ViewBag.Description = "What Our Clients Say";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/referrals.css">
}

<section id="referrals">

	<div class="container">

		<header>

			<h2>@ViewBag.Title</h2>

		</header>

		<ul>

			<li>
				<blockquote>
					<p>John and his team have built numerous homes for us and our clients. The highest level of professionalism and construction experience is demonstrated on each and every project. The team at Avalon brings many years of design, construction and management experience. When we have clients that want the best service and construction experience, we naturally recommend John and his team.</p>
					<cite>Kisarau Architect, LTD.</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>Avalon has very impressive craftsmanship with a keen eye for quality and detail.</p>
					<p>I would hire them in the future if given the chance again.</p>
					<cite>Artisan Stone &amp; Mosaic</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>John Elias and his team at Avalon went above and beyond to make our home more then we could have ever dreamed of! Throughout the project they were professional and always made my family feel like propriety #1! We did a complete renovation of our home and an addition. The project took a little over a year which was on target. It's wonderful to know that I hired such a wonderful and talented group of artisans, b/c that is truly what Avalon and all of the sub contracors turned out to be.</p>
					<cite>Tara G. (Barrington Hills, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>We have built two homes and the experience with you and your team doesn't even compare to those projects. You set yourself apart from other builders with your design knowledge. It was a pleasure to work with you throughout the entire building process. You always took the extra time to help us figure out any situation we came across. Your follow up and communication skills were excellent. We are extremely happy with the finished product! A lot of hard work and thought went into this project. We thank you for your partnership and now friendship. It says volumes when you can say you are friends with your builder after the project is finished!</p>
					<cite>Anthony &amp; Angie A. (South Barrington, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>In our selection process our decision was based on quality of work, dependability, price and meeting the timeline established.  We chose Avalon over other reputable contractors and are happy to say we made the right choice.  John's responsiveness far exceeded our expectations and he made himself available whenever requested.  He demonstrated professionalism with not only us, but all sub-contractors - with whom he also has a very positive relationship.  John was very organized and managed the project aggressively to make sure that deadlines were met.  He served as an excellent source for design recommendations and his product selections that were right on target with our tastes and cost conscience.  His attention to detail was impressive and he ensured that each phase of the project was completed to our satisfaction.  We completely trusted John's professional opinions and his integrity was never in question.  The end result is everything we had hoped for and would use Avalon for future projects!</p>
					<cite>Mike and Lou Ann G. (South Barrington, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>My wife and I wanted a unique, high quality, custom home but we didn't want to overpay, or waste money. We researched and interviewed a number of builders before we finally chose Avalon.  Avalon's pricing was good or better than the others but the allowances and specifications they provided were what convinced us. We were confident Avalon could get us into our new home without ridiculous extras or other surprises and were never disappointed.</p>
					<p>With Avalon's help and creative suggestions we made intelligent and timely decisions on the exterior design and interior finishes. We expected the quality of the cabinetry, millwork, floors and other construction details to be of superior quality but many times the results were better than we expected.</p>
					<p>This is the last house we will ever build, but I would not hesitate to recommend Avalon to a friend.</p>
					<cite>Richard P. (Barrington Hills, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>The entire time we have lived here, I still am amazed and awed by the quality of craftsmanship put into the house. Everyday I still see beauty in the house that previously escaped me. After we moved in, John and his team have worked tirelessly standing behind every detail that needed attention. We have never seen a home built as well and as extraordinary as my house.</p>
					<p>John Elias is rare person in this world of homes. He has never let me down on anything that I need help with in the house that we live. His attention to detail is amazing and quality of craftsmanship unprecedented. I have worked with many builders in the past and built several different buildings, but I have never met a person or his team that lives up to expectations like John does. He is a true artist, honorable person. I am proud to know him and live in a home that he built. Our house is absolutely amazing.</p>
					<cite>Mark S. (Ridgefield of Huntley) </cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>We have been working with John Elias for about 10 years.  Every project that John has done for us has been done impeccably.  He takes whatever time is needed to get the job done right.  If there ever is a problem John makes sure that it gets corrected immediately.  We would highly recommend John Elias and Avalon Development and Construction.</p>
					<cite>Jim L. (South Barrington, IL) </cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>I wanted to take the time to thank you for building a beautiful Entertainment center for our new Barrington Hills home. The quality and unique craftsmanship as well as your personal touch have helped make our home more spectacular. The hand carved sunflowers and fleurs-de-lis make this masterpiece personable and magnificent. We have dealt with many builders before but none compare to you or your company. I have recommended you to several friends and would use Avalon for all of my construction needs.<br>Yours truly,</p>
					<cite>Michele P. &amp; Mark E. (Barrington Hills, IL) </cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>I spent so much time looking for a dining room table and could not find exactly what I wanted.  I was referred to Avalon and was so impressed with their ability to create my vision.  John and his team are very creative and presented several different ideas for my table and buffet, adding unique personal touches.  I could not be happier with my table and love that nobody else will ever have the same one!  The quality and craftsmanship are amazing especially for the reasonable price.  Now I am trying to come up with more projects for John to create!</p>
					<cite>Tiffany K.   (Hinsdale, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>The work was done with perfection! Thanks for taking such good care of our project!</p>
					<cite>Louis C.<br>
					Hidden Lakes Homeowners Association<br>
					(South Barrington, IL)</cite>
				</blockquote>
			</li>

			<li>
				<blockquote>
					<p>As the Committee Chairman of Cutters Run Subdivision in South Barrington I contracted with Avalon.
		John and his company did exceptional work. All the work was done neatly, professionally, and at
		a reasonable price. John Elias is prompt, friendly, easy to work with, and thoroughly competent. I
		recommend him and his company for any level of construction work, whether commercial or residential.</p>
					<cite>Ken D.<br>
					Cutters Run Homeowners Association<br>
					(South Barrington, IL)</cite>
				</blockquote>

			</li>

		</ul>

	</div>

</section>