@{
    ViewBag.Title = "Our Services";
    ViewBag.Description = "Our Services";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/services.css")">
}

<section id="services">

	<div class="container">

		<div class="grid">

			<div id="services-text">

				<header>

					<h2>@ViewBag.Title</h2>

				</header>

				<p>
					At Avalon our mission is this: To exceed our clients' expectations by means of selecting the highest quality products and materials, enlisting the finest craftsmen, evolving client relations, and incorporating our expertise in design and construction, all while constantly striving for the next echelon, ultimately delivering unparalleled products and services for each client's investment.
				</p>

				<p>
					From designing to constructing, we work with our clients and listen to all their aspirations for their projects while respecting fiscal matters, creating exquisite homes and contributing to various other projects that we take great pride in. Besides custom home building, our other services exemplify our mission to always exceed expectations and contribute positively to any scope of work.
				</p>

			</div>

		</div>

	</div>

</section>

<section id="custom-homes" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Custom Homes</h3>
					<p>
						What inspires you? At Avalon we listen to each of our clients and understand their dreams for their homes then we design and construct all these aspirations into your home. While contributing our expertise in design and construction, we transform your ideas, our combined vision, into a house that you cannot wait to come home to.
					</p>

				</div>

				<figure>
					<img src="~/images/services/custom-homes.jpg" alt="Custom Homes">
				</figure>

		</div>

	</div>

</section>

<section id="remodeling" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Remodeling</h3>
					<p>
						Luxury can be affordable. Whether you are thinking about adding a bedroom, remodeling your kitchen or bathroom, finishing a lower level, or simply looking to update your home, Avalon will provide you with the same level of service you would get if we were building your custom home from the ground up.
					</p>

				</div>

				<figure>
					<img src="~/images/services/remodeling.jpg" alt="Remodeling">
				</figure>

		</div>

	</div>

</section>

<section id="design" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Design Services</h3>
					<p>
						Avalon can assist you in selecting everything that makes your house your home, expressing your unique character and style. From plumbing and lighting fixtures to cabinet finishes, flooring materials, and paint colors, we can explore all your options and advise you in the appropriate direction.
					</p>

				</div>

				<figure>
					<img src="~/images/services/design.jpg" alt="Design Services">
				</figure>

		</div>

	</div>

</section>

<section id="consulting" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Consulting and Project Management</h3>

					<p>
						Avalon has the education, the experience, and the network of trades-people to consult you on any and all construction or design projects you may have.
					</p>

				</div>

				<figure>
					<img src="~/images/services/consulting.jpg" alt="Consulting and Project Management">
				</figure>

		</div>

	</div>

</section>

<section id="architecture" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Architecture</h3>
					<p>
						If you have not selected an architect then we will gladly match you up with one of our architects so we can begin creating your new home or remodeling project. We may even have an existing plan in our library of home designs that would be perfect for you!
					</p>

				</div>

				<figure>
					<img src="~/images/services/architecture.jpg" alt="Architecture">
				</figure>

		</div>

	</div>

</section>

<section id="bespoke-cabinetry" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Bespoke Cabinetry/etc</h3>
					<p>
						At Avalon our Artisan Millwork Department continues to take us the next step in the evolution of True Custom home building. Our craftsmen are truly artists, bringing our designs to life.
					</p>

				</div>

				<figure>
					<img src="~/images/services/cabinetry.jpg" alt="Bespoke Cabinetry/etc">
				</figure>

		</div>

	</div>

</section>

<section id="outdoor-living" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Landscaping / Outdoor Living</h3>
					<p>
						By bringing the indoors out we are able to create areas for entertaining or relaxing. Let us design and construct an outdoor living area for your home where your family and guests can enjoy the fresh air and sunshine!
					</p>

				</div>

				<figure>
					<img src="~/images/services/outdoor.jpg" alt="Landscaping/Outdoor Living">
				</figure>

		</div>

	</div>

</section>

<section id="contact">

	<p>
		<a class="button" href="/#contact">Contact Us</a>
	</p>

</section>