@{
    ViewBag.Title = "Our Services";
    ViewBag.Description = "Our Services";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/services.css")">
}

<section id="services">

	<div class="container">

		<div class="grid">

			<div id="services-text">

				<header>

					<h2>@ViewBag.Title</h2>

				</header>

			</div>

		</div>

	</div>

</section>

<section id="custom-homes" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Artisan Built Custom Homes</h3>
					<p>
						From the ground up, no compromises, this is our specialty. Your project is in our very conscientious hands.
					</p>

				</div>

				<figure>
					<img src="~/images/services/custom-homes.jpg" alt="Custom Homes">
				</figure>

		</div>

	</div>

</section>

<section id="remodeling" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Remodeling and Renewals</h3>
					<p>
						Kitchens, bathrooms, finished basements, additions … we want you to love your home.
					</p>

				</div>

				<figure>
					<img src="~/images/services/remodeling.jpg" alt="Remodeling">
				</figure>

		</div>

	</div>

</section>

<section id="architecture" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Architecture and Design</h3>
					<p>
						We match your lifestyle and aspirations to one of our architects and bring your ideas and desires to life, while contributing our expertise. From interiors to exteriors, from sketches to custom cabinets, bespoke furniture, fixtures and finishes… let us create spaces for you.
					</p>

				</div>

				<figure>
					<img src="~/images/services/architecture.jpg" alt="Architecture">
				</figure>

		</div>

	</div>

</section>

<section id="commercial" class="service">

	<div class="container">

		<div class="grid">

				<div>

					<h3>Commercial Construction and Project Management</h3>
					<p>
						Restaurants, retail, and multi-family, project management that delivers on budget and on time.
					</p>

				</div>

				<figure>
					<img src="~/images/services/commercial.jpg" alt="Commercial Construction and Project Management">
				</figure>

		</div>

	</div>

</section>

<section id="contact">

	<p>
		<a class="button" href="/#contact">Contact Us</a>
	</p>

</section>