@using System.Collections.Generic
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Log in";
	ViewBag.Description = "Log in";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/login.css">
}

<section id="login">

	<div class="container">

        <header>

			<h2>@ViewBag.Title</h2>

		</header>

		<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

            <div asp-validation-summary="All" class="alert"></div>

            <div class="field">
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email" class="hint"></span>
            </div>

            <div class="field">
                <label asp-for="Password"></label>
                <input asp-for="Password"/>
                <span asp-validation-for="Password" class="hint"></span>
            </div>

			<p>
				<button type="submit">Login</button>
			</p>

		</form>

	</div>

</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
