@model RegisterViewModel

@{
    ViewBag.Title = "Register";
	ViewBag.Description = "Register";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/register.css">
}

<section id="register">

	<div class="container">

        <header>

			<h2>@ViewBag.Title</h2>

		</header>

		<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

            <div asp-validation-summary="All" class="alert"></div>

            <div class="field">
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email" class="hint"></span>
            </div>

            <div class="field">
                <label asp-for="Password"></label>
                <input asp-for="Password"/>
                <span asp-validation-for="Password" class="hint"></span>
            </div>

            <div class="field">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword"/>
                <span asp-validation-for="ConfirmPassword" class="hint"></span>
            </div>

			<p>
				<button type="submit">Register</button>
			</p>

		</form>

	</div>

</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

