@model avalonbuild.com.Models.Image

@{
    ViewBag.Title = "Images";
	ViewBag.Description = "Images";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/admin/images/index.css">
}

<section id="images">

	<div class="container">

		<header>

			<h2>@ViewBag.Title</h2>

		</header>

		<a id="add-image-button" data-dialog="image-dialog" class="button trigger">Add Image</a>

		<div id="page-alert" class="alert"></div>

		<ul id="images-list"></ul>

	</div>

	<div id="image-dialog" class="dialog">

		<div class="dialog__overlay"></div>

		<div class="dialog__content">

			<a class="dialog__close" data-dialog-close></a>

			<div id="image-add">

				<h2>Add an Image</h2>

				<form id="image-form" method="post" asp-antiforgery="true" enctype="multipart/form-data">

					<div id="dialog-alert" class="alert"></div>

					<div class="field">
						<label asp-for="Name"></label>
						<input asp-for="Name"/>
					</div>

					<div class="field">
						<label for="file">Image File</label>
						<input type="file" id="file" name="file" />
					</div>

					<div class="buttons">
						<a id="dialog-submit" class="button">Add Image</a>
					</div>

				</form>

			</div>

		</div>

	</div>

</section>

@section Scripts {

		<script src="~/js/classie.js"></script>
		<script src="~/js/dialogFx.js"></script>

		<script>

			var dlg;

			(function() {

				var dlgtrigger = document.querySelector( '[data-dialog]' ),
					somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) );

				dlg = new DialogFx( somedialog );

				//dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );

				PopulateImages();

			})();

			$("#add-image-button").click(ShowAddImage);

			function CreateImage()
			{
				//add the file(s)
				var fileUpload = $("#file").get(0);
				var files = fileUpload.files;
				var data = new FormData();

				for (var i = 0; i < files.length ; i++) {
					data.append(files[i].name, files[i]);
				}

				//add the data
				var postData = $('#image-form :input');
				$.each(postData, function (key, input) {
					data.append(input.name, input.value);
				});

				$.ajax({
					type: "POST",
					url: '@Url.Action("Create","Image")',
					contentType: false,
					processData: false,
					data: data,
					statusCode: {
						200: function(response, textStatus, jqXHR) {
							SetPageAlert(response, "success");
							ToggleDialog();
							PopulateImages();
						},
						400: function(jqXHR, textStatus, errorThrown) {
							SetDialogAlert(jqXHR.responseText, "error");
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						SetDialogAlert("Error uploading image.", "error");
					}
				});
			}

			function PopulateImages()
			{
				var list = $('#images-list');

				$.getJSON('@Url.Action("GetAll","Image")', function (data) {

					list.empty();
					$.each(data, function(i, field){
						var li = $('<li>');
						var img = $('<img src="/file/' + field.fileName + '"/>');
						var del = $('<a class="delete" title="Delete Image" href="/api/image/' + field.id + '"></a>');

						del.click(function (evt) {
							evt.preventDefault();
							DeleteImage($(this).attr("href"));
						});

						li.append(img);
						li.append(del);
						list.append(li);
					});

				});
			}

			function ShowAddImage()
			{
				$("#dialog-title").html("Add an Image");

				var form = $("#image-form");

				form.find('input[name="Name"]').val("");
				form.find('input[name="file"]').val("");

				var submit = $("#dialog-submit");

				submit.html("Add Image");
				submit.unbind().click(CreateImage);

				ToggleDialog();
			}

			function DeleteImage(url)
			{
				$.ajax({
					type: 'DELETE',
					url: url,
					success: function(data, textStatus, jqXHR) {
						PopulateImages();
					}
				});
			}

			function ImageUploadSuccess(message)
			{
				SetPageAlert(message, "success");

				var inputs = $("#image-form :input:not([type='hidden'])");

				$.each(inputs, function (key, input) {
					input.value = null;
				});

				ToggleDialog();
			}

			function ToggleDialog()
			{
				dlg.toggle();
			}

			function SetPageAlert(message, type)
			{
				var alert = $("#page-alert");

				alert.removeClass("success");
				alert.removeClass("error");

				alert.addClass("show");
				alert.addClass(type);

				alert.html(message);

				setTimeout(HidePageAlert, 5000);
			}

			function HidePageAlert(message)
			{
				var alert = $("#page-alert");
				alert.removeClass("show");
			}

			function SetDialogAlert(message, type)
			{
				var alert = $("#dialog-alert");

				alert.removeClass("success");
				alert.removeClass("error");

				alert.addClass("show");
				alert.addClass(type);

				alert.html(message);

				setTimeout(HideDialogAlert, 5000);
			}

			function HideDialogAlert(message)
			{
				var alert = $("#dialog-alert");
				alert.removeClass("show");
			}

		</script>

}
