@import "site/settings";
@import "watercolor/modules/grid";

//
// Gallery
//

#gallery {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include grid;
	}

	li {
		margin: $line-height * 1em 0 0 0;

		@include column();

		@include breakpoint(medium) {
            @include column(4);
        }

		@include breakpoint(large) {
            @include column(4);
        }

		@include breakpoint(extra-large) {
            @include column(4);
		}
		
		// &:first-child .prev {
		// 	display: none;
		// }

		// &:last-child .next {
		// 	display: none;
		// }
	}

	a {

		figure {
			position: relative;
			margin: 0;
			text-align: left;
			overflow: hidden;

			img {
				display: block;
				transition: all 3s;
				height: auto;
			}

			p {
				margin: 0;
			}
		}

		&:hover {

			figure {
				box-shadow: 0 0 30px rgba(0,0,0,0.4);

				img {
					transform: scale(1.05);
				}
			}
		}
	}
}

//
// Lightbox from: https://tympanus.net/codrops/2011/12/26/css3-lightbox/
//

.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgba(55, 58, 71, 0.9);

	a {
		background: rgba(25, 28, 41, 0.6);
		color: #eee;
		filter: alpha(opacity=0); /* internet explorer */
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
		box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
		border-radius: 50%;
		opacity: 0;
		transition: opacity 0.3s linear 1.2s;
		transform: translateX(-50%);
		cursor: pointer;
		z-index: 1001;

		&:hover {
			background: rgba(25, 28, 41, 1);
			color: #fff;
		}
	}

	a.lb-close{
		position: absolute;
		top: 30px;
		left: 50%;
		height: 24px;
		width: 24px;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		padding: .4em;
		overflow: hidden;
	}



	img{
		/* height: 100%; For Opera max-height does not seem to work */
		max-height: 100%;
		position: relative;
		-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
		-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	}

	.prev {
		position: absolute;
		top: 45%;
		left: 7%;
		font-size: 12px;
		line-height: 24px;
		text-align: center;
		padding: .5em 1em;
		height: 23px;
		overflow: hidden;
	}

	.next {
		position: absolute;
		top: 45%;
		right: 7%;
		font-size: 12px;
		line-height: 24px;
		text-align: center;
		padding: .5em 1em;
		height: 23px;
		overflow: hidden;
		transform: translateX(50%);
	}
}

.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 10% 120px 10%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		animation: fadeInScale 1.2s ease-in-out;
	}

	a.lb-close,
	a.prev,
	a.next {
		opacity: 1;
		filter: alpha(opacity=99); /* internet explorer */
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	}
}

@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/*
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
	http://bricss.net/post/11230266445/css-hack-to-target-opera
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}